# =========================
# Java / Maven
# =========================
*.class
target/
out/

# Packaged artifacts
*.jar
*.war
*.nar
*.ear

# =========================
# Logs
# =========================
logs/
*.log

# JVM Crash Dumps
hs_err_pid*
replay_pid*

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / Misc
# =========================
*.ctxt
.mtj.tmp/

# =========================
# Secrets / Security
# =========================
keys/
*.pem
.env
application-local.yml
application-secret.yml